# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Xcode
DerivedData/
build/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Dependency managers
Pods/
Carthage/Build/

# Fastlane artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Local tooling
.opencode/
